@media screen and (max-width: 850px) {
    .img-hidden {
        display: none;
    }
    .fejlec-display {
        display: none;
    }
    .fejlec-hidden {
        display: block;
    }
    .bal {
        float: left;
        padding: 0 0 1em 3em;
    }
    .jobb {
        float: right;
        padding: 1.5em 3em 0 0;
    }
    .card-body {
        height: 8em;
    }
}

@media screen and (max-width: 500px) {
    .img-hidden {
        display: none;
    }
    .fejlec-display {
        display: none;
    }
    .fejlec-hidden {
        display: block;
    }
    .bal {
        float: left;
        padding: 0;
    }
    .jobb {
        float: right;
        padding: 0;
    }
}

@font-face {
    font-family: dancefonts;
    src: url(font/DancingScript-Bold.ttf);
}

body {
    overflow-y: scroll;
}

.fejlec-nev {
    font-family: dancefonts;
    font-size: 6em;
}

.fejlec-nev2 {
    font-size: 1.2em;
    letter-spacing: 1em;
}

.fejlec-hidden {
    display: none;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

div a:hover,
div .active-link h3:hover {
    color: orange;
    text-decoration: none;
}

div .active-link h3 {
    color: yellow;
}

.bg-hs {
    background-color: papayawhip;
    border: 2px solid white;
}

img {
    width: 150px;
}

.cm42 {
    width: 250px;
}

.cm32 {
    width: 200px;
}

.cm22 {
    width: 150px;
}

.ital-h {
    height: 200px;
    width: auto;
}

.rotate1 {
    animation: rotation 12s infinite linear;
}

.rotate2 {
    animation: rotation 8s infinite linear;
}

.rotate3 {
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.img-sh {
    box-shadow: 5px 5px 5px grey;
}

.img-sha {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(226, 86, 5);
    -moz-box-shadow: 0px 0px 30px 2px rgba(226, 86, 5);
    box-shadow: 0px 0px 30px 2px rgb(226, 86, 5);
}

.svg-sha {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

table {
    font-size: 1em;
}

.form-control:focus {
    border: 2px solid green;
    box-shadow: none;
}

p {
    font-size: 1.2em;
}

p span {
    color: orangered;
    font-size: 1.3em;
    font-weight: bold;
}

.card-body {
    height: 7em;
    overflow: hidden;
}

.card-body:hover {
    position: relative;
    overflow: visible;
}

.sm-cim {
    height: 4em;
}

.jobb {
    padding-top: 1em;
}

.akcio-cim {
    height: auto;
}

.akcio-img-lh-1 {
    height: 270px;
    line-height: 270px;
}

.akcio-img-lh-2 {
    height: 220px;
    line-height: 220px;
    margin: 25px 0;
}

.akcio-img-lh-3 {
    height: 170px;
    line-height: 170px;
    margin: 50px 0;
}

#napPizza {
    text-transform: capitalize;
}

.ajandek {
    font-size: 1.2em;
    font-weight: bold;
}